.App {
  background-color:#e3ecec;
  width: 100vw;
  height: 100vh;
  
}

body {
  margin: 0px;
  padding: 0px;
}

.Sidebar {
  background-color:#7197978e;
  height: 100%;
  width: 200px;
}

.SidebarList {
  height:auto; 
  width: 100%;
  padding: 0%;

}

.SidebarList .Row {
  width: 99%;
  height: 50px;
  border: 1px solid#a4bdbd;
}